{% load static %}
{% load bag_tools %}

<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extrameta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}
  {% block extracss %}
  {% endblock %}
  {% block corejs %}
  <script src="https://kit.fontawesome.com/ef0705155e.js" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
    crossorigin="anonymous"></script>
  {% endblock %}

  {% block extrajs %}
  {% endblock %}




  <title>Nikki Hart Wildlife Photography {% block extratitle %}{% endblock %}</title>
</head>

<body>
   <header>
      <div>
        <div class="logo-position">
          <a href="{% url 'home' %}" class="nav-link main-logo-link">
            <h2 class="title-text">Nikki Hart Photography</h2>
          </a>
        </div>

        <div class="account-basket-container">
          <div class="account-basket">
            <ul class="list-inline list-unstyled text-center">
              <li class="list-inline-item dropdown account-container">
                <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <div>
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <p class="account my-0">My Account</p>
                  </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                  {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                  <a href="" class="dropdown-item">Product Management</a>
                  {% endif %}
                  <a href="" class="dropdown-item">My Profile</a>
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
                </div>
              </li>
              <li class="list-inline-item basket-container">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                  href="">
                  <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                    <p class=" basket my-0">
                      {% if grand_total %}
                      ${{ grand_total|floatformat:2 }}
                      {% else %}
                      $0.00
                      {% endif %}
                    </p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <nav class="navbar">
        <ul>
          <li class="about-me-nav"><a class="about-me-text" href="{% url 'home' %}">About Me</a></li>
          <li class="photography-nav"><a class="photography-text" href="{% url 'photos' %}">Photography</a></li>
          <li class="hire-me-nav"><a class="hire-me-text" href="{% url 'photos' %}">Hire Me</a></li>
        </ul>
      </nav>
    </header>



{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <img class="img-fluid rounded" src="{{ item.photo.image.url }}">
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.photo.name }}</strong></p>
                                    <p class="my-0"><strong>Size: </strong>{% if item.photo.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                    <p class="my-0 small text-muted">SKU: {{ item.photo.sku|upper }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">${{ item.photo.price }}</p>
                                </td>
                                <td class="py-3 w-25">
                                    <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
            
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link text-info"><small>Update</small></a>
                                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">${{ item.photo.price | calc_subtotal:item.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 text-danger">
                                        You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'photos' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'photos' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


<footer class="footer">
    <ul>
      <li>
        <a href="https://gb.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin fa-lg"></i></a>
      </li>
      <li>
        <a href="https://en-gb.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook fa-lg"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram fa-lg"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-square-twitter fa-lg"></i></a>
      </li>
    </ul>
    <div class ="copyright"><p>Copyright Shaun Finnegan 2022</p></div>
  </div>
  </footer>
  </div>



  {% block postloadjs %}
  {% include 'photos/includes/quantity_input_script.html' %}
  
  <script type="text/javascript">
      // Update quantity on click
      $('.update-link').click(function(e) {
          var form = $(this).prev('.update-form');
          form.submit();
      })
  
      // Remove item and reload on click
      $('.remove-item').click(function(e) {
          var csrfToken = "{{ csrf_token }}";
          var itemId = $(this).attr('id').split('remove_')[1];
          var size = $(this).data('product_size');
          var url = `/bag/remove/${itemId}/`;
          var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};
  
          $.post(url, data)
           .done(function() {
               location.reload();
           });
      })
  </script>
  {% endblock %}
</body>
</html