{% extends "base.html" %}
{% load static %}

{% block page-header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="intro-container">
    <div>
        <h1 class="intro-text">
            Hi I'm Nikki!
        </h1>
            <br>
         <p class="about-me-intro-text">
           I'm a wildlife photographer from Dorset.
           I have been photographing wildlife for over 3 years now.
           Please feel free to take a look around!
        </p>
        <div class="portfolio-button">
            <h4>
                <a href="{% url 'photos' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Check Out
                    My Portfolio</a>

            </h4>
        </div>
    </div>
</div>

{% endblock %}