{% extends "base.html" %}
{% load static %}

{% block page-header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="intro-container">
    <div>
        <h1 class="intro-text">
            Hi I'm Nikki!
        </h1>
            <br>
         <p class="about-me-intro-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore iusto perferendis, et veniam adipisci quae
            officiis nihil, architecto aliquid nisi suscipit enim quisquam. Praesentium, recusandae. Eligendi illum
            officiis suscipit, aut beatae inventore voluptas cumque praesentium fugiat quam voluptatibus debitis rerum
            perspiciatis consequuntur sapiente minima provident nemo alias pariatur! Dolores quos quod nisi, iste ab
            porro, dolorum corporis nam omnis non perferendis delectus voluptates, molestiae odio iusto quam! Cum
            tempore qui itaque magnam architecto, nihil maiores quis minus necessitatibus facere at.
        </p>
        <div class="portfolio-button">
            <h4>
                <a href="{% url 'photos' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Check Out
                    My Portfolio</a>

            </h4>
        </div>
    </div>
</div>

{% endblock %}