*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    color: #555;
    font-family: 'Lato';
    

}

.main-container{
   display: grid;
   height: 100vh;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 0.8fr 0.8 1fr 1fr 0.8fr;
   grid-template-areas: 
   'logo logo logo logo'
   'navbar navbar navbar basket'
   'img-container img-container img-container img-container'
   'about-me-container about-me-container about-me-container about-me-container'
   'footer footer footer footer'
   ;
   gap: 0.2rem;
   overflow-x: hidden;
} 

.product-wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'logo logo logo logo'
    'navbar navbar navbar basket'
    'product product product product'
    'footer footer footer footer'
    ;
    overflow-x: hidden;
    
 } 


 .product-details-wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'logo logo logo logo'
    'navbar navbar navbar basket'
    'product-img product-img product-img product-img'
    'product-details product-details product-details product-details'
    'footer footer footer footer'
    ;
    overflow-x: hidden;
    
 } 

header{
    background-color: pink;
    text-align: center;
    grid-area: logo;
   
}

.logo-position{
    grid-area: logo;
    background-color: yellow;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.title-text{
    min-width: 100px;
    color: red;
    font-size: 120%;
}





.navbar{
    background-color: green;
    grid-area: navbar;
    margin-top: 0;
    
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
}

.navbar li {
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;
    padding: 5%;
    
}

.account-basket-container{
    grid-area: basket;
    background: brown;
    
}

.account-basket-container li{
    margin-left: auto;
    margin-right: auto;
}

.account-container{
  background-color: gold;
  min-width: 200px;
  padding: 0;
  

}

.basket-container{
  background-color: silver;
  min-width: 200px;
  padding: 0;
  
}

.about-me-nav{
 background-color: limegreen;
  min-width: 200px;
}

.photography-nav{
 background-color: blue;
 min-width: 200px;
}

.hire-me-nav{
 background-color: yellow;
 min-width: 200px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a:active {
    color: red;
}

.img-container{
    background-color: red;
    grid-area: img-container;
    
    
}

.main-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-me-container{
    background-color: blue;
    grid-area: about-me-container;
}

.product-container{
    background-color: purple;
    grid-area: product;
    height: 100%;
}





.about-me-intro-text{
    font-size: 30px;
}

.portfolio-button{
    margin-left: 42%;
    margin-right: auto;
    width: 300px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.account{
    color: black;
}

.basket{
    color: black;
}



.photos-title{
    background-color: red;
}

.photos-border{
    background-color: green;
    margin-top: 10%;
}

.card{
    margin-top: 5%;
}

.product-image-container{
    background-color: pink;
    grid-area: product-img;
}  

.product-individual-image{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-details-container{
    grid-area: product-details;
    width: 100%;
}

.photo-name{
  text-align: center;
}

.photo-price{
  text-align: center;
}

.photo-description{
  text-align: center;
}

.form{
    grid-area: form;
}


.product-image{
    width: 50%;
    height: 50%;
    justify-content: center;
}

.footer {
    background-color: brown;
    grid-area: footer;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

.footer li {
    text-decoration: none;
    list-style-type: none;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    font-size: 200%;
    min-width: 100px;
    font-size: 100%;
}

.copyright{
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 70%;
    color: white;
    text-align: center;
  }

  .footer a {
    text-decoration: none;
    color: #fff;
    margin-left: 5%;
}


.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}
/* -------------------------------- Media Queries */

@media only screen and (max-width: 550px){
    .main-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        'logo'
        'basket'
        'navbar'
        'img-container'
        'about-me-container'
        'footer';
        overflow-x: hidden;
    }

    .product-wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        'logo'
        'basket'
        'navbar'
        'product'
        'footer';
        overflow-x: hidden;
    }

    .product-details-wrapper{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        'logo'
        'basket'
        'navbar'
        'product-img'
        'product-details'
        'footer'
        ;
        overflow-x: hidden;
        
     } 

    .navbar ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 2%;
        
        text-decoration: none;
    }
    
    
}

@media only screen and (max-width: 300px){

    .navbar ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 2%;
        list-style-type: none;
        text-decoration: none;
    }

    .account-basket-container{
        grid-area: basket;
        background: brown;
        height: 20%;
        display:flex;
        flex-wrap: wrap;
    }
    
    .account-container{
      background-color: gold;
      min-width: 150px;
      margin-left: 2%;
    
    }
    
    .basket-container{
      background-color: silver;
      min-width: 150px;
      margin-left: 2%;
    }

}

@media only screen and (min-width: 700px){
 
}